.spacer { flex: 1 1 auto; }
.content { padding: 12px; }

mat-toolbar a, mat-toolbar button{
  display: inline-flex;
  align-items: center;
  gap: 6px;
}


.page {
  padding: 12px;
}

.theme-btn {
  margin-left: 8px;
}
